<div class="row">
    <h1>Hard & Soft Skills</h1>
<!--HTML--><div class="text-center col-sm-4 col-md-4col-lg-4">
    <circle-progress
    
  [percent]="95"
  [radius]="90"
  [imageSrc]="'../../../assets/reserva de imagenes/html.png'"
  [showImage]="true"
  [imageWidth]="85"
  [imageHeight]="85"
  [showUnits]="false"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'white'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
</div>
<!--CSS--><div class="text-center col-sm-4 col-md-4col-lg-4">
    <circle-progress
  [imageSrc]="'../../../assets/reserva de imagenes/css.png'"
  [showImage]="true"
  [imageWidth]="85"
  [imageHeight]="85"
  [percent]="90"
  [radius]="90"
  [showUnits]="false"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'white'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
</div>
<!--Angular--><div class="text-center col-sm-4 col-md-4col-lg-4">
    <circle-progress
  [imageSrc]="'../../../assets/reserva de imagenes/angular.png'"
  [showImage]="true"
  [imageWidth]="80"
  [imageHeight]="80"
  [percent]="70"
  [radius]="90"
  [showUnits]="false"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'white'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
</div>
<!--Javascript--><div class="text-center col-sm-4 col-md-4col-lg-4">
    <circle-progress
  [imageSrc]="'../../../assets/reserva de imagenes/javascript cuadro.png'"
  [showImage]="true"
  [imageWidth]="70"
  [imageHeight]="70"
  [percent]="50"
  [radius]="90"
  [showUnits]="false"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'white'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
</div>
<!--TypeScript--><div class="text-center col-sm-4 col-md-4col-lg-4">
    
    <circle-progress
  [imageSrc]="'../../../assets/reserva de imagenes/typescript.png'"
  [showImage]="true"
  [imageWidth]="85"
  [imageHeight]="85"
  [percent]="30"
  [radius]="90"
  [showUnits]="false"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'white'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
</div>
<!--Bootstrap--><div class="text-center col-sm-4 col-md-4col-lg-4">
    <circle-progress
  [imageSrc]="'../../../assets/reserva de imagenes/bootstrap.png'"
  [showImage]="true"
  [imageWidth]="80"
  [imageHeight]="80"
  [percent]="65"
  [radius]="90"
  [showUnits]="false"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'white'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
</div>
<!--Github--><div class="text-center col-sm-4 col-md-4col-lg-4">
    <circle-progress
  [imageSrc]="'../../../assets/reserva de imagenes/gitHub.png'"
  [showImage]="true"
  [imageWidth]="80"
  [imageHeight]="80"
  [percent]="65"
  [radius]="90"
  [showUnits]="false"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'white'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
</div>
<!--Idioma--><div class="text-center col-sm-4 col-md-4col-lg-4">
    <circle-progress
  [imageSrc]="'../../../assets/reserva de imagenes/idioma.png'"
  [showImage]="true" 
  [imageWidth]="85"
  [imageHeight]="85"  
  [percent]="45"
  [radius]="90"
  [title]="'Inglés'"
  [showUnits]="false"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'white'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
</div>
<!--Trabajo grupal--><div class="text-center col-sm-4 col-md-4col-lg-4">
    <circle-progress
  [imageSrc]="'../../../assets/reserva de imagenes/trabajo_grupal.png'"
  [showImage]="true"
  [imageWidth]="80"
  [imageHeight]="80"
  [percent]="98"
  [radius]="90"
  [showUnits]="false"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'white'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
</div>



<!--MysQl<div class="text-center col-sm-4 col-md-4col-lg-4">
    <circle-progress
  [imageSrc]="'../../../assets/reserva de imagenes/mysql.png'"
  [showImage]="true"
  [imageWidth]="80"
  [imageHeight]="80"
  [percent]="70"
  [radius]="90"
  [title]="'HTML'"
  [showUnits]="false"
  [outerStrokeWidth]="5"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'gray'"
  [innerStrokeColor]="'blue'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
</div>-->
<!--Creatividad<div class="text-center col-sm-4 col-md-4col-lg-4">
    <circle-progress
  [imageSrc]="'../../../assets/reserva de imagenes/creatividad.png'"
  [showImage]="true"
  [imageWidth]="80"
  [imageHeight]="80"
  [percent]="70"
  [radius]="90"
  [title]="'HTML'"
  [showUnits]="false"
  [outerStrokeWidth]="5"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'gray'"
  [innerStrokeColor]="'blue'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
</div>-->



</div>