<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">    

   <ul>
    <li>
    <h2>Escuela<!--Escuela secundaria Alicia Moreau de Justo 4-047
    --></h2>
    <h3> (año)</h3>
    </li>
        <p><!--Bachillerato en economía y administración--> Descripción<p>
            
</ul>
     <ul>
        <li>
          <h2><!--Curso "Argentina Programa" edición #SéProgramar-->instituto </h2>
          <h3>(año)</h3>
        </li>
         <p>Descripción: <!--Fundamentos básicos e introducción a la programación.--></p>
     </ul>
   <ul>
    <li>
      <h2><!--Curso "Argentina Programa" edicion #YoProgramo-->instituto</h2>
      <h3>(año)</h3>
    </li>
     <p>Descripción: <!--El objetivo es adquirir las habilidades y aprender sobre las herramientas necesarias para ser un programador web full-stack junior.--></p>
                
 </ul>

    </div>
</div>

