<div class="row"><h1>Mis proyectos</h1>
    <div class="container">
    <div class="col-sm-12 col-md-7 collg-7">
    <h2>Proyecto 1: Mi porfolio</h2>
    <p>Descripción: Este proyecto esta realizado con la finalidad de 
        proyectar mis ideas y creatividad, practicando habilidades
        como desarrolladora web y en un futuro utilizarlo para entrevistas laborales.</p>
        <button type="submit" class="btn btn-primary"><a href="../../../index.html">Visitar Sitio</a></button>
       </div> 
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1">
            <img class="img-fluid" src="../../../assets/reserva de imagenes/.png" alt="">
        </div>
</div>
</div>
