*{
  background:linear-gradient(-50deg,rgb(64, 64, 64), rgb(236, 78,78));
    color: #fff;
    position: relative;
  
}
img{
    width: 450px;
    height: 465px;
    position: inherit;
    text-align: left;
}
.col h2{
  color:rgb(205, 203, 203) ;
  padding-top: 40%;
  background-color: transparent;
  
}
.col h1{
  color:rgb(205, 203, 203) ;
  font-size: 50px;

}
.col p{
  background-color: transparent;
  color:rgb(203, 203, 203);
  font-size: 20px;
}
.row img{

  background-color:transparent;
 padding-left: 4%;
 padding-top: 10%;
}
