<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img class="img-fluid" src="../../../assets/reserva de imagenes/foto perfil.webp" alt="">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h2 id="nombre">{{usuario.nombre}}{{usuario.apellido}}</h2>
        <p class="par">Full stack developer JR</p>
    </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mí...</h1>
        <p>
            Soy una persona comprometida, con gran capacidad de aprendizaje, <br> 
            creativa y con ganas de explotar mis habilidades en el desarrollo web. <br>
           Gracias a estas competencias puedo adaptarme a múltiples entornos  <br>
          y dar los mejores resultados posibles.
        </p>
    </span></div>
</div>